body{
    background: #353331;
    background-size: 100%;
    color: wheat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/******Menu*******/

#principal-menu {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 22px; 
    
}

#principal-menu a {
    text-decoration: none;
    color: wheat;
}
#principal-img{
    
    width: 40%;    
    margin-left: 90px;
    float: left;
    
}

#pincipal-img, h1 {
    text-align: center;
    font-size: 2.7em;
}
#logotipo-a{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 100px;
    border-image: fill;
    
}
a:link , a:visited{
    color:wheat ;
    padding: 8px 12px;
}
a:hover {
    background: wheat;
    
}

#principal-menu a:hover{
    color: black;
    padding: 8px 12px;
    border-radius: 10%;
}
#serv-1 {
    border: solid 5px whitesmoke;
    width: 36%;
    float: right;
    margin-right: 75px;
    margin-bottom: 25px;
  
}

/******Home*******/

#hr {
    clear: both;
    margin: 80px;
    font-size: 32px;
    border-bottom: 15px solid wheat;
}

/******Servicos*****/

#serv {
   text-align: center;
   align-items: center;
}

.servicos {
    display: inline-block;
    align-items: center;
    border: solid wheat 1px;
    clear: both;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    text-align: center;
    color: black;
    background: wheat;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 15px;
   
}
#plan {
       
}

.plano {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 20px;
    color: black;
    background: wheat;
}
 
/******Somos*****/

#somos {
    text-align: center;
}

#somos p{
    width: 70%;
    margin-left: 170px;
    font-size: 20px;
}
/******Contato*****/

#contato {
    text-align: center;;
    width: 650px;
    background: wheat;
    color: black;
    margin: 0 320px 0 320px ;
}
form {
    background:wheat ;
    text-align: center;
    color: black;
    
}


footer{
    text-align: center;
    
